<%- include('partials/header') -%>   
<section class="mt-5">
<div class="card mx-auto " style="width: 60%; box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);">
  <div class="card-body">
   <form action="/addpost" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label for="post-title"><b>Title</b></label>
    <input type="text" name="title" class="form-control" id="post-title" style=" border-radius:0;border-style:none;border-bottom:2px solid blue">
   </div>
   <div class="form-group">
    <label for="post"><b>Description</b></label>
    <textarea type="text" name="postBody" class="form-control " id="post" style=" border-radius:0;border-style:none;border-bottom:2px solid blue"></textarea>
  </div>
  <label for="post">Select Image</label>
   <div class="input-group mb-4 mt-2">
    <div class="custom-file">
      <input type="file" class="custom-file-input" name="singleImage" >
      <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Add Post</button>
</form>
  </div>
</div>
</section>
<%- include('partials/footer') -%>