<%- include('partials/header') -%>
<div class="card mt-4 mx-auto" style="max-width: 400px;">
    <div class="row no-gutters">
      <div class="col-md-12">
        <div class="card-body text-center">
          <h2 class="card-title text-warning ">QueryHome</h2>
          <p class="card-text"><small class="text-muted"><b>A Social Platform to Ask and Solve techincal Doubts</b></small></p>
            <%- include('partials/messages') -%>
            <form action="/login" method="POST">
                <div class="form-group px-0">
                <input type="email" name="email" class="form-control" placeholder="Email Address">
                </div>
                <div class="form-group px-0">
                    <input type="password" name="password" class="form-control" placeholder="Password">
                </div>
                <a class="float-right mt-0 mb-3 text-danger" href="/forgot">Forgot Password?</a>
            
                <button type="submit" class="btn btn-danger btn-block  ">Login</button>
            </form>
            <a href="/signup">Don't have an Account? <u> Signup here</u></a>
          
        </div>
      </div>
    </div>
  </div>
<%- include('partials/footer') -%>





